#home-page {
  #header {
    background-image: url(/images/header.jpg);
    background-position-y: 60%;
    height: 90vh;

    img {
      margin-top: -450px;
    }

    #hero {
      h1 {
        font-family: "Roboto Slab", sans-serif;
        line-height: 53px;
        background: rgba(46, 17, 58, 0.8);
        padding: 1.625rem;
        max-width: 60%;
        width: 100%;
        color: white;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5rem;
      }

      a {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  #tickets {
    h2 {
      font-size: 2.5rem;
    }

    a {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.125rem;
      margin: 0 auto;
      display: block;
      max-width: 20%;
    }
  }
}


@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  #home-page {
    #header {
      #hero {
        h1 {
          max-width: 90%;
          font-size: 2rem;
          line-height: 3rem;
        }

        a {
          top: 60%;
          width: 75%;
        }
      }
    }

    #tickets {
      .see-all-tickets {
        max-width: 55%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .buy-now-wrapper {
    margin-top: 1.5rem;
  }
}