#home-page {
  #header {
    background-image: url(/images/header.jpg);
    background-position-y: 60%;
    height: 90vh;

    nav {
      background-color: rgba(0, 0, 0, 0.8) !important;
      padding: 0.7rem 0;

      .navbar-brand {
        font-family: 'Roboto Slab', sans-serif;
        font-size: 1.75rem;
      }

      a {
        color: white;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-family: Roboto, sans-serif;
        padding: .5rem 0.625rem;
      }
    }

    img {
      margin-top: -450px;
    }

    #hero {
      h1 {
        font-family: "Roboto Slab", sans-serif;
        line-height: 53px;
        background: rgba(46, 17, 58, 0.8);
        padding: 1.625rem;
        max-width: 60%;
        width: 100%;
        color: white;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5rem;
      }

      a {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  #tickets {
    h2 {
      font-size: 2.5rem;
    }

    .ticket-item {
      background-color: #fff;
      width: 100%;
      color: black;
      margin-bottom: 1.5625rem;
      font-family: "Roboto Slab", sans-serif;
      text-transform: uppercase;
      //padding-top: 2.3125rem;
      //padding-bottom: 2.3125rem;

      .ticket-day {
        color: #8E44AD;
        font-size: 1.875rem;
        text-align: center;
        line-height: 40px;
        margin-bottom: 2px;
      }

      .buy-ticket {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1.125rem;
      }

      .ticket-time {
        display: block;
        color: #888;
      }

      h3 {
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 0.3rem;
      }

      h4 {
        font-size: 1rem;
        margin-bottom: 0.3rem;
      }

      .ticket-title {
        border-right: 2px dashed #888;
        padding-top: 2.3125rem;
        padding-bottom: 2.3125rem;
      }
    }

    a {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.125rem;
      margin: 0 auto;
      display: block;
      max-width: 20%;
    }
  }

  #footer {
    background: rgba(142, 68, 173, 0.3);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.125rem;
    padding: 1.25rem 0;

    p {
      margin-bottom: 0;
    }
  }
}


@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  #home-page {
    #header {
      nav {
        i {
          color: white !important;
          font-size: 1.5rem;
        }
      }

      #hero {
        h1 {
          max-width: 90%;
          font-size: 2rem;
          line-height: 3rem;
        }

        a {
          top: 60%;
          width: 75%;
        }
      }
    }

    #tickets {
      .ticket-item {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;

        .ticket-title {
          border-right: 0 !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;

          h3 {
            line-height: 2rem;
            margin-bottom: 0.75rem;
          }
        }
      }

      .see-all-tickets {
        max-width: 55%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .buy-now-wrapper {
    margin-top: 1.5rem;
  }
}